<a href="https://colab.research.google.com/github/tb-harris/neuroscience-2024/blob/main/prework/1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals
**Make sure you have watched [Introduction to Google Colab](https://www.youtube.com/watch?v=g0xu9DA4gDw) (up to 9:40) before starting this notebook.**

## Running Python Code
Python is a very powerful tool for automating tasks that would otherwise be time-consuming or impossible to do by hand or other conventional tools. Here, we'll go over basic ways to use Python to introduce you to a slice of its potential.

Try running the code below by clicking on the "play" button next to it or clicking on it and pressing Shift+Enter. Once you run it, you will see its output.

In [ ]:
print("Hello, world!")

**This notebook has a number of code cells as examples: make sure to run each one in order to see its output.**

### Question 1.  Do it yourself!  Coding
Write a message in the quotation marks in the code cell below. Then, run the code, and double check that it outputs your message.

In [ ]:
message = ''

print(message)

**You should complete each question in this notebook in the same way: edit the code, then run it to make sure you get the correct output. If the output doesn't look right, change the code and try again!**

## Python as a calculator

An incredibly simple yet pivotal role of Python is to perform math calculations (addition, subtraction, multiplication, etc.). We show how to basic action below.

You'll see the symbol `#` used often. These are comments, and they are used to write descriptions. Any characters following `#` are not run or executed.

**Don't forget to run each code cell to see its output!**

In [ ]:
3 + 4 * 5  # addition and multiplication

You may have noticed from that example that order of operations mattered for that calculation. You can parentheses too if you want to group calculations.

In [ ]:
12 / (6 - 4) # division and substraction

Exponentiation (e.g. $2^3$) looks a little bit odd in Python as it uses `**` instead of a more traditional `^`.

In [ ]:
2 ** 3 # exponentiation

#### Question 2: Calculate the following value in Python: $ \frac{25}{(35 - 3)^3} $

In [ ]:
### Put your answer below:

## Assigning Variables
A foundational tool in Python is assigning values to variables. We do this with the `=` operator.

In [ ]:
x = 50 # x is 50

This sets the variable `x` to be 50, which is an **integer**, or `int`. This value of x is now stored in our notebook, and we can access this value in other cells until the notebook is reset. For instance, subtracting 20 from `x` prints out a value of 30.

In [ ]:
# What if I use x again in a different cell?
x - 20

**Variables persist between cells once they have been run (executed).**

If we ever want to check the value of any variable, we can use the built-in `print()` command to display the value.

In [ ]:
y = 35
print(y)

We can also assign the value of one variable to another variable. If we execute `x = y`, x takes the current value of `y` and assigns that to `x`.

*Note: `y` will be unaffected by this assignment. `x = y` should be interpretted as "let x take the current value of y".*

In [ ]:
x = y
print(x)
print(y)

If we change `y` to be a different value, `x` will be unaffected.

In [ ]:
y = 3.8
print(x) # will not always be the same value as y
print(y)

**Basic variables only change value when something is assigned to them.**
They are **not** like spreadsheets where a cell can depend on another and update automatically.

### Question 3.  Predict the Output
Try predicting the output of each of the following programs. Enter your prediction for a program in the indicated **text cell**, then run the code cell below it to check your prediction.

#### Program 1
```python
a = 3
b = a
print(a)
print(b)
```

*RECORD YOUR PREDICTION HERE*

**Run the code below to test your prediction:**

In [ ]:
a = 3
b = a
print(a)
print(b)

#### Program 2
```python
a = 5
b = a*2
print(b)
```

*RECORD YOUR PREDICTION HERE*

**Run the code below to test your prediction:**

In [ ]:
a = 5
b = a*2
print(b)

#### Program 3
```python
message1 = 'Hello'
message2 = message1
message1 = 'Goodbye'
print(message1, message2)
```

*RECORD YOUR PREDICTION HERE*

**Run the code below to test your prediction:**

In [ ]:
message1 = 'Hello'
message2 = message1
message1 = 'Goodbye'
print(message1, message2)

#### Program 4
```python
x = 1.0
y = 3.0
swap = x
x = y
y = swap
print(swap)
```

*RECORD YOUR PREDICTION HERE*

**Run the code below to test your prediction:**

In [ ]:
x = 1.0
y = 3.0
swap = x
x = y
y = swap
print(swap)

### Variable Naming

_Variable name conventions_
- Use only letters, digits, and underscores _ **(no spaces!)**
- Start with a letter (typically lower case)
- Variable names are case sensitive
- Use meaningful names!

### Code Sequence
**Variables must be created before they are used.** Otherwise, Python will throw an error - you can see an example of error output by running the cell below.

In [ ]:
print(z) # we haven't created z yet!

In the following example, we specify a value for a variable after we print it. This will not work. Within a cell, the statements are executed from top to bottom. If the Python interpreter finds an error, execution stops.

In [ ]:
print(last_name) # last name does not exist yet
# What happens if I try to correct my error in the same cell?
last_name='Montoya'
print(last_name)

### Question 5
Re-order the code below so that it runs correctly.

In [ ]:
minutes_per_day = minutes_per_hour * hours_per_day

minutes_per_hour = 60
hours_per_day = 24

print('There are', minutes_per_day, 'minutes in a day.')

### Assignment Operators
If we want to increase a value of a variable by a certain amount, we can use the `+=` operator. Here, we add 2 to the current value of x.

In [ ]:
print(x) # before incrementing
x += 2
print(x) # after incrementing

This is equivalent to running `x = x + 2`. We can also do similar operations with subtraction, multiplication, and division.

In [ ]:
x = 8
x -= 2 # 8 - 2
print("subtraction:", x)
x *= 4 # 6 * 4
print("multiplication:", x)
x /= 6 # 24 / 6
print("division:", x)

### Question 6
Multiply `a` by 3, and print out the new value of `a`.

In [ ]:
a = 25
# write your code here:

## Strings

So far, we have only assigned numerical values to variables. We can also assign values characters to variables. These are called **strings**. You can specify a string by putting text within either single quotation (`'single'`) or double quotation marks (`"double"`).

In [ ]:
my_name = 'Inigo Montoya'
print(my_name)

We can print out a string directly in `print()`, as well.

In [ ]:
print("My name is")
print(my_name) # will print on a second line

We can also print out multiple values in a single `print()` statement.

In [ ]:
print("My name is", my_name) # print() adds a space between the values

If we print out a string with an integer variable, it will convert the integer to a string in order to print it.

In [ ]:
num_balloons = 25
print("I would like", num_balloons, "balloons.")

#### Question 7
1. Create a variable `school` and assign it a string with the school you attend.
2. Print out *I go to*, followed by the value in the school variable (for example, *I go to Riverdale*)

## Data Types:
- integers (`int`) represent positive or negative whole numbers like 3 or -512
- floating point numbers (`float`) represent real numbers like 3.14159 or -2.5
- character strings (`str`) are text
   - written with single or double quotes (matching)
   - quotations aren't printed when the string is displayed

In [ ]:
# Find the type with function type()
print(type(52))
print(type("Inigo Montoya"))
print(type(3.14))

# notice we are nesting functions -> type() is inside of print()

### Combining and adding data types

The `+` operator concatenates (adds) strings together. However if you try to add an integer and a string, you will receive an error.

In [ ]:
print("several" + " concatenated" + " strings") # need to manually add spaces when concatenating

In [ ]:
print(1 + "2") # adding string to int doesn't work

We can convert an `int` to a `string` with the `str()` function to combine them. We must convert numbers to strings or vice versa when operating on them. Consistency is key!

In [ ]:
print(1+int('2')) # convert string to int to do addition
print(str(1)+'2') # convert int to string to concatenate

However, we can mix integers and floats freely in operations. This will result in the final value being a float.

In [ ]:
print('half is', 1/2.0)
print('three squared is', 3.0 ** 2)

### Length
Strings have length (how many characters long they are), which can find with `len()`. Floats and ints do not have length.

In [ ]:
print( len("a long string") ) # spaces count in length

In [ ]:
print( len(3.1415) ) # will get n error

### Division Types with numbers
- `//` operator performs integer floor division (rounds down to nearest integer)
- `/` operator performs floating point division (returns a number with a decimal point)
- `%` modulo operator returns the remainder from integer division

In [ ]:
print(5//3)
print(5/3)
print(5%3)

### Question 8
Choose a type (int, float, str) that each of these descriptions should be.
- Time elapsed from the start of the year until now in days. - *YOUR ANSWER HERE*
- Serial code of a piece of lab equipment - *YOUR ANSWER HERE*
- A lab specimen's age - *YOUR ANSWER HERE*

## Question 9

The area \(A\) of a trapezoid can be calculated using the following formula:

$$A = \frac{1}{2} (b_1 + b_2) h$$

where $b_1$ and $b_2$ are the lengths of the two parallel sides (bases) and $h$ is the height.

Create variables `b1`, `b2`, and `h` with the values of 4, 6, and 5 respectively.

Calculate the area of a trapezoid with those dimensions, and save it in a variable `area`. Then, print out `area`. Your program should output *25*.

**Note:** Python doesn't allow implicit multiplication with parentheses. For example, $x(y + z)$ must be written as `x * (y + z)`, not `x(y + z)`.

In [ ]:
# your code below:

This notebook is adapted from the [Brandeis Library Python Programming Workshop](https://deisdata.github.io/python/) created by Ford Fishman.